Repository bozaci/awesome-semantic-commit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, npx stylelint **/*.{css,scss} --fix

chore(commit-generation): update commit generate prompt
  src/utils/constants.ts
Due: prettier --write, eslint --fix, eslint

chore(stylelint): add stylelint and resolve stylelint problems
  src/styles/_mixins.scss
Due: npx stylelint **/*.{css,scss} --fix

feat(not-found-page): add meta data
  src/app/not-found.tsx
  src/config.json
Due: prettier --write, eslint --fix, eslint

chore(screenshot-semantic-commit-validator-page): update image
  docs/images/screenshot-semantic-commit-validator-page.png
Due: none

fix(openai-api-key): resolve not saved openai api key
  src/components/sections/commit-generator-form/commit-generator-form.tsx
Due: prettier --write, eslint --fix, eslint

fix(api-key): resolve commit generation problem when saving API key
  src/components/sections/commit-generator-form/commit-generator-form.tsx
Due: prettier --write, eslint --fix, eslint

feat(link): add new variant, size, className props
  src/components/ui/link/link.scss
  src/components/ui/link/link.tsx
  src/components/ui/link/link.type.ts
Due: prettier --write, eslint --fix, eslint, npx stylelint **/*.{css,scss} --fix

feat(modal): add resources utilised and disclaimer modal
  src/components/shared/footer/footer.scss
  src/components/shared/footer/footer.tsx
  src/components/shared/modal/modal.scss
  src/config.json
  src/locales/en.json
  src/locales/tr.json
  src/modals/elements/disclaimer.tsx
  src/modals/elements/resources-utilised.tsx
  src/modals/utils/modalData.ts
Due: prettier --write, eslint --fix, eslint, npx stylelint **/*.{css,scss} --fix

fix(semantic-commit-validator-form): resolve centered issue for error and success circles
  src/components/sections/semantic-commit-validator-form/semantic-commit-validator-form.tsx
Due: prettier --write, eslint --fix, eslint

refactor(transition): update animation
  src/components/ui/transition/transition.tsx
Due: prettier --write, eslint --fix, eslint

docs(README_APP): fix typo
  README_APP.md
Due: prettier --write

feat(faq-card): add aria-hidden for accessibility
  src/components/ui/faq-card/faq-card.tsx
Due: prettier --write, eslint --fix, eslint

feat(select-menu): add aria-hidden for accessibility
  src/components/ui/select-menu/select-menu.tsx
Due: prettier --write, eslint --fix, eslint

feat(dropdown-menu): add aria-hidden for accessibility
  src/components/ui/dropdown-menu/dropdown-menu.tsx
Due: prettier --write, eslint --fix, eslint

feat(language-switcher): add aria-hidden for accessibility
  src/components/ui/language-switcher/language-switcher.tsx
Due: prettier --write, eslint --fix, eslint

feat(semantic-commit-validator-form): add re-fetch for ai service error
  src/app/api/validator/route.ts
  src/components/sections/semantic-commit-validator-form/semantic-commit-validator-form.tsx
  src/components/ui/box/box.scss
  src/locales/en.json
  src/locales/tr.json
  src/styles/_utilities.scss
Due: prettier --write, eslint --fix, eslint, npx stylelint **/*.{css,scss} --fix

feat(accordion): add aria-hidden for accessibility
  src/components/ui/accordion/accordion.tsx
Due: prettier --write, eslint --fix, eslint

feat(posthog): add track function for posthog capture
  src/components/sections/commit-generator-form/commit-generator-form.tsx
  src/components/sections/semantic-commit-validator-form/semantic-commit-validator-form.tsx
  src/lib/posthog.ts
Due: prettier --write, eslint --fix, eslint

fix(commit-generator-form): resolve tooltip issue
  src/components/sections/commit-generator-form/commit-generator-form.tsx
Due: prettier --write, eslint --fix, eslint

fix(commit-generator-form): resolve switch Generate with AI animation issue
  package.json
  src/components/sections/commit-generator-form/commit-generator-form.tsx
  src/components/sections/semantic-commit-validator-form/semantic-commit-validator-form.tsx
  src/styles/_utilities.scss
Due: prettier --write, eslint --fix, eslint, npx stylelint **/*.{css,scss} --fix

fix(faq-card): resolve double click and aria-hidden issues
  src/components/ui/faq-card/faq-card.tsx
Due: prettier --write, eslint --fix, eslint

feat(semantic-commit-validator): add faq
  src/components/pages/semantic-commit-validator/semantic-commit-validator.tsx
  src/components/sections/semantic-commit-validator-faq/index.ts
  src/components/sections/semantic-commit-validator-faq/semantic-commit-validator-faq.tsx
  src/locales/en.json
  src/locales/tr.json
Due: prettier --write, eslint --fix, eslint

feat(home): add product hunt badge in homepage hero
  src/components/pages/home/home.tsx
Due: prettier --write, eslint --fix, eslint

chore(projectsList): update vue.js description
  src/data/projectsList.ts
Due: prettier --write, eslint --fix, eslint

refactor(home): remove product hunt badge from hero section
  src/components/pages/home/home.tsx
Due: prettier --write, eslint --fix, eslint

refactor(config): update twitter
  src/config.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
  npx stylelint **/*.{css,scss} --fix: any of: *.{css,scss}
